.flexCol {
  display: flex;
  flex-direction: column;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.select-container {
  display: flex;
  flex-direction: column;
}
.pageSelect-container {
  margin-bottom: 10px;
}
.content {
  flex-grow: 1;
  padding: 20px;
}
